button {
    background-color: white;
    border-radius: 2em;
    padding: 4px;
}
div {
  border: 1px solid gray;
  background-color: aliceblue;
  padding: 12rem;
  margin: 1rem;
  opacity: 0;
  transition: 0.3s;
  max-width: 18em;
}
div.yay {
  opacity: 1;
}
